@use "src/scss/colors" as colors;

$bar_width: min(calc((100vw / 12 * 2) - 48px), 250px);

p.error {
    color: #E00000;
}

.Goals {
    .button-row {
        margin: 0 auto;

        .btn {
            width: auto;
        }

        .add {
            margin-right: 1em;
        }
    }

    .first-row {
        margin-top: 10vh;

        .list-row {
            margin-top: -16px;

            .category {
                margin-top: 16px;
            }
        }
    }
}
